.float_right{
	float: right;
}
.margin-25{
	margin: 25px;
}
.margin-top-30{
	margin-top: 30px;
}
.padding-10{
	padding: 10px;
}

.border-top {
  border-top: 1px solid #e5e5e5;
}

.footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  white-space: nowrap;
  line-height: 60px; /* Vertically center the text there */
}