{% extends 'base.html' %}

{% block content %}

{% load index %}
<div class="container-fluid" style="margin: 0; padding: 0;">
		{% for lista in liste %}
		<div id="accordion{{forloop.counter}}" class="container-xl">
			<div class="card">
    			<div class="card-header row" id="heading{{forloop.counter}}" style="margin: 0;">
    				<div class="col-sm-10" role="button" data-toggle="collapse" data-target="#collapse{{forloop.counter}}" aria-expanded="false" aria-controls="collapse{{forloop.counter}}">
      				<h5 class="pt-2">
          				{{lista.name|capitalize}}
        				</h5>
        			</div>
        			<div class="col-sm-2">
			     		<a class="btn btn-primary float_right" style="margin-bottom: 10px;" href="/lista/{{lista.id}}">Detalii</a>
					</div>
    			</div>

    			<div id="collapse{{forloop.counter}}" class="collapse" aria-labelledby="heading{{forloop.counter}}" data-parent="#accordion{{forloop.counter}}">
      			<div class="card-body">
        				<table class="table table-bordered table-sm">
							<thead>
								<tr>
									<th>#</th>
									<th>Produs</th>
									<th>Link produs</th>
									<th>Pret initial</th>
									<th>Pret curent</th>
									<th>Data ultima actualizare</th>
								</tr>
							</thead>
				<tbody class="list_of_products">
                {% for produs in lista.produse %}
				    {% if forloop.counter0|divisibleby:2 %}
					<tr class="table-active">
                    {% else %}
					<tr>
                    {% endif %}
						<td>{{forloop.counter}}</td>
						<td>
                  	<a>{{produs.nume|capitalize}}</a>
						</td>						
						<td>
                  	<a href="{{produs.url}}">{{produs.site}}</a>
                  </td>
                  <td>
                  	<div class="pret_initial{{forloop.counter}}">{{produs|pret_initial|valoare}}</div>               
                  </td>
                  <td>
                  	<div class="pret_final{{forloop.counter}}">{{produs|pret_final|valoare}}</div> <div class="status{{forloop.counter}}"></div>               
                  </td>
                  <td>
							{{produs|pret_final|data_creare}}               
                  </td>
					</tr>
                {% endfor %}
				</tbody>
			 </table>
      			</div>
    			</div>
  			</div>
  		</div>
			{% endfor %}
	
</div>
<script>
	for (var j = 1; j <= {{liste|length}}; j++){
		collapsed = $("#collapse" + String(j))
		for (var i = 1; i <= collapsed.find(".list_of_products").children().length; i++){
   		var stat = (1 - (parseFloat(collapsed.find(".pret_final" + String(i)).text()) / parseFloat(collapsed.find(".pret_initial" + String(i)).text())))*100
			console.log(collapsed.find(".pret_final" + String(i)).text())
			console.log(collapsed.find(".pret_initial" + String(i)).text())   
			stat = -stat;
			stat = stat.toFixed(2);
			console.log(stat)
   		if (stat > 0){
   	   	collapsed.find(".status" + String(i)).html("+"+String(stat)+"%");
   		   collapsed.find(".status" + String(i)).css('color', 'red');
  		 	}
   		if (stat < 0){
   	   	collapsed.find(".status" + String(i)).html(String(stat)+"%");
   	   	collapsed.find(".status" + String(i)).css('color', 'green');
   		}
   	}
   }
</script>		
{% endblock %}

