{% extends 'base.html' %}

{% block content %}

{% load index %}
<div class="container-fluid" style="margin: 0; padding: 0;">
		<div class="bg-secondary" style="margin: 0; padding: 5px;">
		 <form action='/search' type="get">
		  <div class="row">
		    <div class="col-sm-2"></div>
		    <div class="col-sm-7"><input name="name" type="search" class="form-control rounded" placeholder="Search" aria-label="Search"
    		   aria-describedby="search-addon" /></div>
 	 	    <div class="col-sm-3"><button type="submit" class="btn btn-primary">Search</button></div>	
		  </div> 			 	
 	 	 </form>
 	 	</div>
		<!--<a class="btn btn-primary float_right" style="margin-bottom: 10px;" href="/add">Adauga Lista</a>
	   -->
			{% for lista in liste %}
		<div id="accordion{{forloop.counter}}" class="container-lg">
			<div class="card">
    			<div class="card-header row" id="heading{{forloop.counter}}" style="margin: 0;">
    				<div class="col-sm-10" role="button" data-toggle="collapse" data-target="#collapse{{forloop.counter}}" aria-expanded="false" aria-controls="collapse{{forloop.counter}}">
      				<h5 class="pt-2">
          				{{lista.name|capitalize}}
        				</h5>
        			</div>
        			<div class="col-sm-2">
			     		<a class="btn btn-primary float_right" style="margin-bottom: 10px;" href="/lista/{{lista.id}}">Detalii</a>
					</div>
    			</div>

    			<div id="collapse{{forloop.counter}}" class="collapse" aria-labelledby="heading{{forloop.counter}}" data-parent="#accordion{{forloop.counter}}">
      			<div class="card-body">
        				<table class="table table-bordered table-sm">
							<thead>
								<tr>
									<th>#</th>
									<th>Produs</th>
									<th>Link produs</th>
									<th>Pret initial</th>
									<th>Pret curent</th>
									<th>Data ultima actualizare</th>
								</tr>
							</thead>
				<tbody>
                {% for produs in lista.produse %}
				    {% if forloop.counter0|divisibleby:2 %}
					<tr class="table-active">
                    {% else %}
					<tr>
                    {% endif %}
						<td>{{forloop.counter}}</td>
						<td>
                  	<a>{{produs.nume|capitalize}}</a>
						</td>						
						<td>
                  	<a href="{{produs.url}}">{{produs.site}}</a>
                  </td>
                  <td>
                  	{% if produs|are_preturi %}
								{{produs|pret_initial|valoare}}
							{% else %}
								Indisponibil
							{% endif %}                  
                  </td>
                  <td>
                  	{% if produs|are_preturi %}
								{{produs|pret_final|valoare}} 
							{% else %}
								Indisponibil
							{% endif %}                     
                  </td>
                  <td>
                  	{% if produs|are_preturi %}
								{{produs|pret_final|data_creare}}  
							{% else %}
								Indisponibil
							{% endif %}                    
                  </td>
					</tr>
                {% endfor %}
				</tbody>
			 </table>
      			</div>
    			</div>
  			</div>
  		</div>
			{% endfor %}
	
</div>		
{% endblock %}