{% extends 'base.html' %}

{% block content %}

{% load index %}

<div class="container-fluid col-md-12">
	<div class="page_header margin-25">
		<h1>{{lista.name|capitalize}}</h1>
	</div>
	<div class = "container-fluid row">
	<div class = "container-fluid col-md-6">
	  <table class="table table-bordered table-sm">
							<thead>
								<tr>
									<th>#</th>
									<th>Produs</th>
									<th>Pret Initial</th>
									<th>Pret Curent</th>
									<th>Link produs</th>					
								</tr>
							</thead>
				<tbody>
                {% for produs in lista.produse %}
				    {% if forloop.counter0|divisibleby:2 %}
					<tr class="table-active">
                    {% else %}
					<tr>
                    {% endif %}
						<td>{{forloop.counter}}</td>
						<td>
                  	<a>{{produs.nume|capitalize}}</a>
						</td>	
						<td><div id="pret_initial{{forloop.counter}}">{{produs|pret_initial|valoare}}</div></td>
                  <td><div><div id="pret_final{{forloop.counter}}">{{produs|pret_final|valoare}}</div> <div id="status{{forloop.counter}}"></div></div></td>					
						<td>
                  	<a href="{{produs.url}}">{{produs.site}}</a>
                  </td>
					</tr>
                {% endfor %}
				</tbody>
			 </table>
	  <form role="form" method="post" onSubmit="return confirm('Esti sigur ca vrei sa stergi lista "{{lista.name}}"?')"> {% csrf_token %}
		 <input type="hidden" name="delete" value="true"/>
		 <button type="submit" class="btn btn-primary float_right" style="margin-top: 2px; margin-bottom: 8px;">Sterge Lista</button>
	  </form>
   </div>
   <div class="container-fluid col-md-6">
   	<canvas id="preturi-chart" style="display: block; box-sizing: border-box;" data-url="{% url 'preturi_lista' lista.id %}"></canvas>
   </div>
   </div>
		
</div>
<script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
<script>

String.prototype.format = function () {
  var args = arguments;
  return this.replace(/\{(\d+)\}/g, function (m, n) { return args[n]; });
};

   for (var i = 1; i <= {{lista.produse|length}}; i++){
   	var stat = (1 - (parseFloat($("#pret_final" + String(i)).text()) / parseFloat($("#pret_initial" + String(i)).text())))*100
		console.log($("#pret_final" + String(i)).text())
		console.log($("#pret_initial" + String(i)).text())   
		stat = -stat;
		stat = stat.toFixed(2);
   	if (stat > 0){
   	   $("#status" + String(i)).html("+"+String(stat)+"%");
   	   $("#status" + String(i)).css('color', 'red');
   	   console.log("gigel");
   	}
   	if (stat < 0){
   	   $("#status" + String(i)).html(String(stat)+"%");
   	   $("#status" + String(i)).css('color', 'green');
   	   console.log("costel");
   	}
   	console.log(stat);
   
   }
	
	$(function () {
		var my_colors = ['#39b9d6', '#f67019', '#f53794', '#537bc4',
		  '#acc236', '#166a8f', '#00a950', '#8549ba', '#4dff4d',
		  '#ff80df', '#85adad', '#00e6e6', '#331a00', '#ff901a', 
		  '#ffe6ff', '#99cc00', '#66ffff', '#ff0080'];
		var $preturiChart = $("#preturi-chart");
      $.ajax({
        url: $preturiChart.data("url"),
        success: function (data) {
          datasets = []
          for (d in data.datasets) {            
            dataset = {
              label: data.datasets[d].label,
              fill: false,
              backgroundColor: my_colors[data.datasets[d].color_index],
              borderColor: my_colors[data.datasets[d].color_index],
              data: data.datasets[d].data
            }    
            datasets.push(dataset)	
          }
          var ctx = $preturiChart[0].getContext("2d");
          new Chart(ctx, {
            type: 'line',
            data: {
              labels: data.labels,
              datasets: datasets
            },
            options: {
              responsive: true,
              legend: {
                position: 'top',
              },
              title: {
                display: true,
                text: 'Diagrama in timp a pretului'
              },
              scales: {
					 xAxes:[{
					   display: true,
					   scaleLabel: {
						  display: true,
						  labelString: 'Timp'					   
					   }
					 }],
					 yAxes:[{
					   display: true,
					   scaleLabel: {
						  display: true,
						  labelString: 'Pret'					   
					   }
					 }]
              }
            }
          });

        }
      });

    });
</script>

{% endblock %}